.App {

  .container {
    z-index: 10;
    width: 50%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
  }

  .background-image {
    position: absolute;
    padding: 20px;

    &.sandwich {
      height: 250px;
    }

    &.soup {
      bottom: 0;
      height: 450px;
    }

    &.pizza {
      right: 0;
      top: 20%;
      height: 500px;
    }
  }


}

@media only screen and (max-width: 1200px) {
  .App {
    .container {
      width: 70%;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 800px) {
  .App {
    .container {
      width: 90%;
      flex-wrap: wrap;
    }
  }
}

